<!DOCTYPE html>
<html>
  <head>
    <title>Log-Logistic Distribution</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag "application" %>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.js"></script>

    <%= javascript_tag do %>
      window.calculationResult = <%= @calculation_result.to_json.html_safe %>;
    <% end %>

    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <%= render 'application/document' %>

    <div class="container sticky-top bg-light">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-4 text-dark text-decoration-none">
          <span class="fs-4 me-2 text-uppercase">Log-Logistic Distribution</span>
        </a>
        <div class="col-md-8 d-flex flex-wrap justify-content-end">
          
          <% if @calculation_result.present? -%>
            <button type="button" id="export-as-xlsx" class="btn btn-primary mr-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Export
            </button>
          <% end %>

          <button type="button" class='btn btn-outline-primary' data-toggle="modal" data-target="#about-this-distribution-modal">
              Documentation
          </button>
        </div>
      </header>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
